@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.leaflet-tooltip {
  color: var(--ndh-white) !important;
  background-color: #832525 !important;
  border: 1px solid #832525 !important;
}

.leaflet-tooltip:before {
  border-top-color: #832525 !important;
}

.leaflet-tooltip:after {
  border-top-color: #832525 !important;
}

:root {
  --ndh-white: #ffffff;
  --ndh-purple: #582d5d;
  --ndh-yellow: #fff6a4;
  --ndh-light-gray: #f9fafb;
  --ndh-dark-gray: #4b5563;
  --ndh-text-gray: #222222;
  --ndh-stroke-gray: #c2c2c2;
  --ndh-stroke-light-gray: #e5e7eb;
  --ndh-border-radius: 8px;
}

* {
  font-family: var(--font-poppins);
}

html,
body {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-bebas);
  font-weight: 400;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 45px;
}

p {
  color: var(--ndh-dark-gray);
}

p,
button {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 2000px;
  padding: 45px 100px;
  margin: 0 auto;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 976px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p,
  button {
    font-size: 14px;
  }

  .container {
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  p,
  button {
    font-size: 12px;
  }

  .container {
    padding: 25px;
  }
}
