/* === Hero Section === */
.hero {
  position: relative;
  width: 100%;
  height: 640px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  padding-bottom: 120px;
}

.heroImage {
  z-index: 0;
  padding: 45px 100px;
}

/* .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
} */

.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--ndh-white);
}

.heroContent h1 {
  font-weight: 500;
  margin-bottom: 24px;
  text-shadow: 0px 0px 4.6px #000000;
}

.btn {
  background-color: #fff6a4;
  color: var(--ndh-purple);
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
